body {
    margin: 0;
    min-width: 320px;
    font-family: sans-serif;
    font-size: 16px;
}
h1 {
    text-transform: lowercase;
    margin: 2px;
}
h1 div {
    width: 35px;
    text-align: center;
    padding: 5px;
    margin-left: 3px;
    color: white;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}
.companyNameContainer {
    width: 100%;
    text-align: center;
}
.companyName {
    display: flex;
    justify-content: center;
    align-items: center;
}
.color1 {
    background-color: #00cc66;
    animation-name: comeFromLeft;
    animation-duration: 2s;
}
.color2 {
    background-color: #ff33ff;
    animation-name: comeFromLeft;
    animation-delay: 0.1s;
    animation-duration: 2.1s;
}
.color3 {
    background-color: #66616b;
    animation-name: comeFromLeft;
    animation-delay: 0.2s;
    animation-duration: 2.2s;
}
.color4 {
    background-color: #ffcc33;
    animation-name: comeFromLeft;
    animation-delay: 0.3s;
    animation-duration: 2.3s;
}

@keyframes comeFromLeft {
    0% {
        right: -500px;
    }
    100% {
        right: 0px;
    }
}
